
$body-clr: #6b717f;
$article-code-clr: #8C8C8C;
$headers-clr: #BF4080;
$sucess-error-warning-clr: #fff;
$success-bg-clr: green;
$error-bg-clr: red;
$warning-bg-clr: orange;

$base-padding: 10px;


%messages{
    border: 1px solid #8C8C8C;
    padding: 16px;
    color: $sucess-error-warning-clr;
}

main{
    padding-top: 0;
    padding-bottom: $base-padding - 10;
}

footer{

    h3{
        padding: $base-padding * 2;
    }
}

article {
  display: flex;
  flex-wrap: wrap;

  section {
    flex-grow: 1;
    flex-basis: 45%;
    border: 1px #8c8c8c solid;
    -webkit-box-shadow: 10px 10px 15px -4px #6b717f;
    -moz-box-shadow: 10px 10px 15px -4px #6b717f;
    box-shadow: 10px 10px 15px -4px #6b717f;
    padding: 16px;
    margin: 16px;
    clear: both;
    overflow: auto;
    box-sizing: border-box;

    & #selling-points {
      flex-grow: 2;
      flex-basis: 100%;
    }
  }
  code {
    background: #000;
    border: 1px solid #6b717f;
    color: #8c8c8c;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;

    & .before {
      float: left;
      width: 40%;
    }

    & .after {
      float: right;
      width: 40%;
    }
  }
}

.sucess,.error,.warning{
    @extend %messages;
}

.error:hover{
    background-color: greenyellow;
    color: black;
}